body {
  font-family: 'Arial', sans-serif;
  background-color: #fffff0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.home-container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #dddddd;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

.clock {
  text-align: center;
  margin-bottom: 30px;
}

.clock h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.clock p {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.loading {
  font-size: 1.2rem;
  text-align: center;
  color: #4caf50;
}

.error {
  font-size: 1.2rem;
  text-align: center;
  color: red;
}

.rates-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.currency-rates, .crypto-rates {
  flex: 1;
  background-color: #fffff0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: calc(50% - 10px);
}

.currency-rates h2, .crypto-rates h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.currency-rates p, .crypto-rates p {
  font-size: 1rem;
  color: #555;
  margin: 5px 0;
}

.fetch-time {
  text-align: center;
  margin-top: 30px;
}

.fetch-time h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.fetch-time p {
  font-size: 1rem;
  color: #555;
}

.ok {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.ok .nav-link {
  flex: 1;
  font-size: 1rem;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
  margin: 5px;
}

.ok .nav-link:hover {
  background-color: #333333;
  color: #ffffff;
  border-color: #555555;
}

.currency-rates, .crypto-rates {
  width: 100%;
}

.nav {
  flex-direction: column;
  align-items: center;
}

.ok .nav-link {
  margin-bottom: 10px;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.reset-button:hover {
  background-color: #45a049;
}

.info {
  font-size: 14px;
  color: #fffff0;
  margin-top: 20px;
}

